/* FONT: POPPINS, ROBOTO-CONDENSED */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Condensed:wght@400;700&display=swap");

/* 
font-family: 'Roboto Condensed', sans-serif;
 */
/* BASIC-STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

/* REUSABLE STYLING */
.container {
  width: 114rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  background-color: none;
  padding: 1.5rem 4rem;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 0.8rem;
  transition: all 0.3s ease;
  box-shadow: -3px 1px 41px -6px rgba(0, 0, 0, 0.75);
}

/* BUTTON CLICKING STYLE */
.btn:active {
  transform: translateY(0.5rem);
}

.btn-primary {
  background-color: #b91135;
  color: #ffff;
  border: 2px solid transparent;
}

.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #b91135;
  color: #b91135;
}

section {
  margin-top: 13rem;
}

.section-center {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  width: 100%;
}

.section-title-box {
  text-align: center;
}

.section-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  color: #272727;
  font-size: 800;
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
}

.section-title-box .section-description {
  width: 60%;
  margin: 0 auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.highlight {
  color: #e55473;
}

/* NAVIGATION STYLING */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  position: relative;
  z-index: 100;
}

nav .logo a:link,
nav .logo a:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
}

nav .logo a > span {
  color: #b91135;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul li {
  list-style: none;
}

nav > ul li:not(:last-child) {
  margin-right: 3rem;
}

nav > ul li a:link,
nav > ul li a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: border 0.3s ease;
  padding-bottom: 0.3rem;
}

nav > ul li a:hover,
nav > ul li a:active {
  border-bottom: 3px solid #6730ec;
}

/* HEADER-SECTION STYLING */
.header {
  /* background-color: green; */
  background-image: url("../flower-asset/header-bg.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-position: center center; */
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(229, 84, 115, 0.8);
}

/* BANNER SECTION STYLING */
.banner-container {
  padding-top: 5rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
}

.banner-column {
  width: 50%;
}

.banner-column h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #272727;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

.banner-column p {
  color: rgba(255, 255, 255, 0.897);
  font-size: 1.8rem;
  text-align: justify;
  line-height: 2.4rem;
  margin-bottom: 2.5rem;
}

.banner-column img {
  width: 90%;
  height: 50.5rem;
  filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.5));
}

/* OUR FEATURED FLOWERS SECTION STYLING */

.featured-section-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.featured-column {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
}
.featured-section-column-1 img,
.featured-section-column-3 img {
  align-self: flex-end;
}
.featured-section-column-1,
.featured-section-column-2,
.featured-section-column-3 {
  width: 100%;
  height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 50% 50% 0 0;
  box-shadow: -6px -14px 57px -15px rgba(0, 0, 0, 0.75);
}

.featured-section-column-1 img,
.featured-section-column-2 img,
.featured-section-column-3 img {
  width: 60%;
  filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.5));
}

.featured-section-column-1 {
  background: rgba(167, 33, 98, 0.15);
}

.featured-section-column-2 {
  background: rgba(5, 151, 160, 0.15);
}

.featured-section-column-3 {
  background: rgba(71, 125, 17, 0.15);
}

.featured-column .featured-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #272727;
  border-bottom: 2px solid #272727;
}

/* SUPPORT SECTION STYLING */
.support-section-container {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 7rem 14rem;
}

.support-section-item {
  width: 33.33%;
}

.support-section-item h4 {
  color: rgba(39, 39, 39, 0.8);
  font-size: 1.2rem;
  font-weight: 600;
}

.support-section-item img {
  filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.5));
}

/* DEAL SECTION STYLING */
.section-deal {
  background: rgba(229, 84, 115, 0.05);
}
.section-deal-container {
  display: flex;
  align-items: center;
  padding: 7rem;
}

.section-deal-column-text,
.section-deal-column-image {
  width: 50%;
}

.section-deal-column-image img {
  width: 25rem;
  height: 30rem;
  filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.5));
}

.section-deal-column-text .section-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section-deal-column-text p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 2.5rem;
}

/* SOCIAL MEDIA STYLING */
.section-social-container {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  gap: 2.4rem;
}

.section-social-item {
  width: 25%;
}

.section-social-item img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.section-social-item img:hover {
  box-shadow: -3px 1px 41px -6px rgba(0, 0, 0, 0.75);
  transform: translateY(-0.5rem);
}
/* LATEST DEALS SECTION STYLING */
.section-latest-deals-container {
  background-image: url("../flower-asset/Rectangle-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 13rem;
  border-radius: 8px;
}

.section-latest-deals-container .section-title {
  margin-bottom: 1rem;
}

.news-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.news-letter input[type="email"] {
  width: 60%;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  transition: all 0.3s ease;
}

.news-letter input[type="email"]:focus {
  box-shadow: -3px 1px 41px -6px rgba(0, 0, 0, 0.75);
}

/* CONTACT US SECTION */
.section-contact-us {
  background-image: linear-gradient(
    60deg,
    rgba(229, 84, 115),
    rgba(5, 151, 160),
    rgba(167, 33, 98),
    rgba(71, 125, 17)
  );
  padding: 3rem 0;
  margin-bottom: 0;
}

.section-contact-us .section-title {
  color: #111;
}

.section-contact-us-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 4rem;
}

.section-contact-us-column {
  width: 50%;
}

.section-contact-us-column h2 {
  font-size: 3rem;
  color: #f7f7f7de !important;
  text-align: justify;
  line-height: 3.5rem;
}

.section-contact-us-column form input[type="text"],
.section-contact-us-column form input[type="email"],
.section-contact-us-column form input[type="tel"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 2.4rem;
  padding: 1.7rem;
  border-radius: 5px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.section-contact-us-column form input[type="text"]:focus,
.section-contact-us-column form input[type="email"]:focus,
.section-contact-us-column form input[type="tel"]:focus,
textarea:focus {
  box-shadow: 0.5rem 1rem 2rem rgba(255, 255, 255, 0.4);
}

/* FOOTER SECTION STYLING */
.footer-section {
  background-image: linear-gradient(50deg, #111, #272727);
  padding: 13rem 0;
  margin-top: 13rem;
  color: #fff;
}
.footer-logo a:link,
.footer-logo a:visited {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 3.5rem;
  text-decoration: none;
  margin-bottom: 4rem;
}

.footer-logo a > span {
  color: #b91135;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.footer-item {
  width: 33.33%;
}

.footer-item h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.footer-item {
  font-size: 1.4rem;
}

.footer-item .social-links {
  display: flex;
  margin-top: 2rem;
  gap: 2.4rem;
}

.footer-item .social-links li {
  list-style: none;
}

.footer-item .social-links li a:link,
.footer-item .social-links li a:visited {
  font-size: 3rem;
}

.footer-item .social-links .bxl-facebook-circle {
  color: #0d8af0;
}

.footer-item .social-links .bxl-instagram-alt {
  background-image: linear-gradient(to right, #eda83d, #6442b7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer-item .social-links .bxl-pinterest {
  color: #e8001e;
}

.footer-item .support-links {
  display: flex;
  flex-direction: column;
}

.footer-item .support-links li {
  list-style: none;
  margin-bottom: 1rem;
}

.footer-item .support-links li a:link,
.footer-item .support-links li a:visited {
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  padding-bottom: 0.5rem;
}

.footer-item .support-links li a:hover,
.footer-item .support-links li a:active {
  border-bottom: 2px solid #0d8af0;
}

.footer-item address {
  font-size: 1.8rem;
}

.copyright {
  text-align: center;
  margin: 12rem 0 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.589);
  border-radius: 1px;
}

.copyright p {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
