/* FONT: POPPINS, ROBOTO-CONDENSED */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Condensed:wght@400;700&display=swap");

/* 
font-family: 'Roboto Condensed', sans-serif;
 */
/* BASIC-STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}
